@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.blob {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  &-container {
    position: relative;
    z-index: 10;
  }

  &-bg {
    fill: theme-color('primary');
    z-index: 0;
    pointer-events: none;

    &-wrapper {
      position: absolute;
    }
  }
}

.home-slider .blob-bg {
  fill: $white;
}

.wp-block-media-text:not(.home-media-text) {
  position: relative;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='301' height='184' viewBox='0 0 301 184' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg clip-path='url(%23clip0)'%3E %3Cpath d='M34.7 152.2C55.1 158.9 73.1 171 93.1 178.9C88.3 191.4 36.9 160.5 34.7 152.2Z' fill='%23202CC1'/%3E %3Cpath d='M150.3 69.3C157.6 89.3 161.4 109.9 163.6 131C156.4 111 147.5 91.4 150.3 69.3Z' fill='%23202CC1'/%3E %3Cpath d='M114.4 108.7C120.4 115.2 142.9 141.8 136.4 148.3C126.9 145.9 117.9 119.5 114.4 108.7Z' fill='%23202CC1'/%3E %3Cpath d='M207.7 43.2C209 64.6 204.5 90.3 198.7 109.5C198.4 89.2 202.8 64.3 207.7 43.2Z' fill='%23202CC1'/%3E %3Cpath d='M83.4 117.2C67.2 103.3 52 87 39.3 69.5C37.9 67.4 34.8 66.3 35.3 62.5C52.7 76.9 64.4 95.7 80.4 111.3C81.9 112.9 83.5 114.7 83.4 117.2Z' fill='%2313A9FF'/%3E %3Cpath d='M109.1 38.2C117.7 54.1 121.8 71.6 126.9 88.8C119.7 72.5 111.5 56.4 109.1 38.2Z' fill='%23202CC1'/%3E %3Cpath d='M39 117.9C54.2 124 66.7 134.3 79.2 144.4C65.3 136.4 51.1 128.9 39 117.9Z' fill='%23202CC1'/%3E %3Cpath d='M265.6 57.3C276.6 42.7 285.1 26.5 298 12.6C298.2 18.4 272.5 53.8 265.6 57.3Z' fill='%2313A9FF'/%3E %3Cpath d='M6.6 107.2C-1.7 106.8 -2.1 93.1 7.1 93.1C16 93.3 16.8 107 6.6 107.2Z' fill='%23202CC1'/%3E %3Cpath d='M218.4 22.1C219.3 33 206 34.2 204.5 24.9C204.2 16 216.5 15.3 218.4 22.1Z' fill='%23202CC1'/%3E %3Cpath d='M225.2 108.1C219.3 107.2 232.7 88.5 236.2 85.6C243.8 79.3 228.9 109.1 225.2 108.1Z' fill='%23202CC1'/%3E %3Cpath d='M101.6 8.1C102.6 14.6 91.6 14.8 92.1 8.4C91.7 1.7 102.3 0.799999 101.6 8.1Z' fill='%2313A9FF'/%3E %3Cpath d='M185.2 39.6C184.4 45.4 175.3 44.9 175.3 39C175.4 32.7 184.5 33.9 185.2 39.6Z' fill='%2313A9FF'/%3E %3Cpath d='M83 76.7C89.2 78.2 89.7 85.5 82.8 86.3C77.4 85.9 77.1 77.4 83 76.7Z' fill='%23202CC1'/%3E %3Cpath d='M257.5 9.4C251.7 8.8 250.9 -0.100003 257.3 -2.78652e-06C263.3 -0.800003 263.2 8.5 257.5 9.4Z' fill='%2313A9FF'/%3E %3Cpath d='M180.4 104.7C180.1 110.7 170.2 109.6 171.6 103.5C172.2 96.9 181.8 98.4 180.4 104.7Z' fill='%2313A9FF'/%3E %3Cpath d='M90.7 125.3C89.3 123 85.9 122.3 85.6 118.6C88.4 120.3 90.4 122.1 90.7 125.3Z' fill='%2313A9FF'/%3E %3Cpath d='M300.9 11.4C301 11.8 300.8 11.9 300.5 12.1C300.4 11.7 300.5 11.5 300.9 11.4Z' fill='%2313A9FF'/%3E %3Cpath d='M83.3 117.3C83.6 117.4 83.9 117.5 84.1 117.6C83.5 118.4 83.6 117.4 83.3 117.3C83.3 117.3 83.4 117.2 83.3 117.3Z' fill='%2313A9FF'/%3E %3C/g%3E %3Cdefs%3E %3CclipPath id='clip0'%3E %3Crect width='301' height='183.1' fill='white'/%3E %3C/clipPath%3E %3C/defs%3E %3C/svg%3E ");
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(2rem, 2rem);
    content: "";
    width: 19rem;
    height: 11.5rem;
  }

  @media screen and (max-width: 600px) {
    &::before {
      display: none;
    }
  }

  &.has-media-on-the-right::before {
    right: 0;
    left: unset;
    transform: translate(-2rem, -2rem) scale(-1, 1);
  }
}
