.btn {
  background: none;
  color: currentColor !important;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.56rem;
  margin-right: 2.5rem;
  border-radius: 0 !important;
  position: relative;
  font-size: $font-size-small;
  display: inline-block;
  border: 0;
  max-width: 100%;

  &-primary {
    background-color: transparent !important;
  }

  &-pagination {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    line-height: 2.75rem;

    &--active {
      background-color: theme-color('primary');
      color: $white;
    }
  }

  &::after {
    content: '>';
    position: absolute;
    transition: transform 500ms cubic-bezier(0.76, 0, 0.24, 1);
    font-size: 120%;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    transform: translate(1.8rem, -2px);
  }

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: currentColor !important;
    transition: width 500ms cubic-bezier(0.76, 0, 0.24, 1);
  }

  &:hover {
    background: none !important;
    color: currentColor !important;

    &::before {
      width: 0;
    }

    &::after {
      transform: translate(2.5rem, -2px);
    }
  }
}

.wp-block-button > a {
  @extend .btn;
}

.wp-block-buttons.aligncenter .wp-block-button {
  transform: translateX(1.25rem);
}

.btn-arrow {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: theme-color('primary');
  color: $white;

  &--alt {
    background-color: $white;
    color: theme-color('primary');
  }

  &::after {
    content: '>';
    position: absolute;
    font-size: 120%;
    width: 100%;
    text-align: center;
    top: 50%;
    line-height: 0;
    transform: translate(1px, -50%);
    letter-spacing: 0;
  }

  &--left {
    left: $grid-gutter-width / 4;

    @include media-breakpoint-up(md) {
      left: $grid-gutter-width / 2;
    }

    &::after {
      content: '<';
      transform: translate(-1px, -50%);
    }
  }

  &--right {
    right: $grid-gutter-width / 4;

    @include media-breakpoint-up(md) {
      right: $grid-gutter-width / 2;
    }
  }
}
