.event {
  align-items: self-start;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding-left: $grid-gutter-width / 4;
    padding-right: $grid-gutter-width / 4;
    flex-flow: column;

    .post__inner__title {
      margin-top: 1rem;
    }
  }

  &__inner {
    &__details {
      border-top: 1px solid $dash-color;
      margin-top: 1.375rem;
      padding-top: 0.8rem;
      display: flex;
      align-items: flex-end;
      align-content: flex-end;

      @include media-breakpoint-down(xs) {
        align-items: flex-start;
        align-content: flex-start;
        justify-content: space-between;
      }

      &__time {
        margin-right: 3.4rem;

        @include media-breakpoint-down(xs) {
          flex: 1;
          margin-right: 0;
        }
      }

      &__where {
        @include media-breakpoint-down(xs) {
          flex: 1;
        }
      }

      &__tickets {
        margin-left: 3.4rem;

        @include media-breakpoint-down(xs) {
          flex: 1;
          margin-left: 0;
        }
      }

      &__where a {
        text-decoration: underline;
      }

      > .btn {
        margin-left: auto;
        margin-right: 1.5rem;

        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
    }
  }

  &__price {
    background-color: theme-color('secondary');
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    line-height: 2;
    font-size: 0.75rem;
    color: $white;
    text-transform: uppercase;
    position: absolute;
    top: 7vh;
    left: 6.4rem;

    @include media-breakpoint-up(md) {
      left: 0;
      transform: translateX(-100%);
    }
  }
}
