/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
}

label {
  font-weight: bold;

  .required {
    color: theme-color('secondary');
  }
}

.form-control {
  padding: 0.95rem 0.625rem !important;
  border-radius: 3px;
}

.wpcf7-acceptance a {
  text-decoration: underline;
}

.wpcf7-acceptance label {
  position: relative;
  font-weight: normal;
  font-size: $font-size-small;
  // padding-left: 2rem;

  &:hover input + a::after {
    opacity: 0.5;
  }
}

.form-group input[type="checkbox"],
.form-group input[type="radio"] {
  margin-right: 4px;
}

/*
.form-group input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  left: -10000px;

  + a {
    width: 20px;
    height: 100%;
    display: block;
    position: absolute;
    margin-right: 4px;
    text-decoration: none;
    top: 0;
    left: 0;
    pointer-events: none;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid theme-color('primary');
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background-color: theme-color('primary');
      border-radius: 8px;
      position: absolute;
      top: calc(50% + 6px);
      left: 6px;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
      transform: translateY(-50%);
    }
  }

  &:checked + a::after {
    opacity: 1;
  }
}
*/
