.marker {
  width: 30px;
  height: 37px;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='37' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1c7.732 0 14 6.268 14 14 0 6.728-10.596 17.428-13.352 21.136a.801.801 0 01-1.296 0C11.596 32.428 1 21.728 1 15 1 7.268 7.268 1 15 1zm0 8c-2.208 0-4 1.792-4 4s1.792 4 4 4 4-1.792 4-4-1.792-4-4-4z' stroke='%23FE4A49' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.map {
  width: 100%;
  height: 75vh;

  .marker {
    cursor: pointer;
  }

  .mapboxgl-popup-tip {
    transform: translateY(-1px);
  }

  .mapboxgl-popup-content {
    position: relative;
    background: #fff;
    border-radius: 0;
    box-shadow: unset;
    padding: 1.2rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
  }
}
