.pagination {
  width: 80%;
  margin: 3.75rem auto 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > h6 {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  &__list {
    @include reset-list;

    display: flex;

    li {
      //
    }
  }
}
