.post {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  padding: 7vh 0;
  width: 100%;

  @include media-breakpoint-down(xs) {
    flex-flow: column;
  }

  @include media-breakpoint-up(md) {
    width: 90%;
  }

  @include media-breakpoint-up(lg) {
    width: 74%;
  }

  &__date {
    @include bg-primary;

    width: 4.6875rem;
    height: 4.6875rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 4.6875rem;
    margin-right: 2rem;

    .day {
      @extend h4;

      margin-bottom: 0;
      line-height: 1;
    }

    .month {
      font-size: $font-size-bigger;
    }
  }

  &__inner {
    max-width: 700px;
    margin-left: auto;
    width: 100%;

    &__title {
      margin-bottom: 2.125rem;

      @include media-breakpoint-down(xs) {
        margin-top: 1rem;
      }
    }
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}
