/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

.wp-block-gallery {
  @extend .grid-container;

  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.wp-block-cover {
  @extend .grid-container;

  padding: 0;
}

.wp-block-media-text {
  @extend .grid-container;

  margin-top: 3rem;
  margin-bottom: 3rem;

  @include media-breakpoint-up(md) {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 14vh;
    margin-bottom: 14vh;
  }
}

.wp-block-media-text.is-image-fill figure.wp-block-media-text__media {
  height: 0;
  padding-top: 100%;
}

figure.wp-block-media-text__media,
.wp-block-media-text__media__wrapper {
  height: 0;
  padding-top: 100%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.wp-block-gallery.grid-gallery .blocks-gallery-grid {
  width: 100%;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: $grid-gutter-width / 2 $grid-gutter-width / 2;
    grid-template-areas: ". . .";
    margin: $spacing / 2 0;
  }

  .blocks-gallery-item {
    width: 100% !important;
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  @include media-breakpoint-up(md) {
    .blocks-gallery-item:nth-child(2) {
      align-self: flex-end;
      margin-bottom: -4rem;
    }

    .blocks-gallery-item:nth-child(3) {
      margin-top: 1rem;
    }

    figure {
      display: block;
    }
  }
}

@media screen and (max-width: 600px) {
  .wp-block-media-text__content {
    grid-row: 1 !important;
    padding: 0 !important;
    margin-bottom: 2rem;
  }

  .wp-block-media-text__media {
    grid-row: 2 !important;
  }

  .wp-block-column {
    margin-bottom: 1rem !important;
  }
}

@include media-breakpoint-down(md) {
  .blocks-gallery-item {
    margin-bottom: 1rem !important;
  }
}
