section.tab-group {
  padding-left: 16px;
  border-left: 4px solid rgba(#202cc1, 0.5);

  &::before {
    content: "Tab groep";
    opacity: 0.5;
    font-weight: bold;
  }
}

article.tab-content {
  padding-left: 16px;
  border-left: 4px solid rgba(#fe4a49, 0.5);

  &::before {
    content: "Tab " attr(data-title);
    opacity: 0.5;
    font-weight: bold;
  }
}
