.aanbod-overview {
  position: relative;

  @include media-breakpoint-up(md) {
    height: 100vh;
    overflow-y: hidden;
  }

  &__gallery {
    &-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    @include media-breakpoint-up(md) {
      height: 100vh;
      width: 100%;
    }
  }

  &__menu {
    &-container {
      display: flex;
      flex-flow: column;
      justify-content: center;

      @include media-breakpoint-up(md) {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    &__list {
      @include reset-list;

      @include media-breakpoint-up(lg) {
        @include make-col-offset(1);
      }

      &__item {
        margin-top: 6px;

        a {
          display: inline-flex;
          flex-flow: column;
          text-decoration: none !important;
          line-height: 1;
          padding: 1.25rem 0;
          background-color: $white;

          @include media-breakpoint-up(sm) {
            padding: 1.25rem;
          }

          @media (hover: hover) {
            &.active {
              color: theme-color('secondary');
            }
          }
        }

        &__name {
          font-size: $font-size-bigger;
        }

        &__subtitle {
          font-size: 1.8rem;

          @include media-breakpoint-up(md) {
            font-size: 2.2rem;
          }

          @include media-breakpoint-up(lg) {
            font-size: 2.75rem;
          }
        }
      }
    }
  }
}

.aanbod-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
  //max-height: 500px;
  display: grid;
  grid-template-columns: repeat(25, 4%);
  grid-template-rows: repeat(25, 4%);
}

.aanbod-gallery__item {
  opacity: 0;
  position: relative;
  max-width: 260px;
  will-change: transform;
  height: auto;
}

.aanbod-gallery__item:nth-child(odd) {
  max-width: 180px;
}

.aanbod-gallery__item:nth-child(-n + 3) {
  align-self: start;
}

.aanbod-gallery__item:nth-child(n + 4) {
  align-self: end;
}

.aanbod-gallery--1 .aanbod-gallery__item:nth-child(1) { grid-area: 3 / 2 / auto / auto; }
.aanbod-gallery--1 .aanbod-gallery__item:nth-child(2) { grid-area: 4 / 13 / auto / auto; }
.aanbod-gallery--1 .aanbod-gallery__item:nth-child(3) { grid-area: 1 / 20 / auto / auto; }
.aanbod-gallery--1 .aanbod-gallery__item:nth-child(4) { grid-area: 25 / 5 / auto / auto; }
.aanbod-gallery--1 .aanbod-gallery__item:nth-child(5) { grid-area: 25 / 18 / auto / auto; }
.aanbod-gallery--1 .aanbod-gallery__item:nth-child(6) { grid-area: 5 / 19 / auto / auto; }

.aanbod-gallery--2 .aanbod-gallery__item:nth-child(1) { grid-area: 1 / 2 / auto / auto; }
.aanbod-gallery--2 .aanbod-gallery__item:nth-child(2) { grid-area: 10 / 3 / auto / auto; }
.aanbod-gallery--2 .aanbod-gallery__item:nth-child(3) { grid-area: 10 / 20 / auto / auto; }
.aanbod-gallery--2 .aanbod-gallery__item:nth-child(4) { grid-area: 25 / 15 / auto / auto; }
.aanbod-gallery--2 .aanbod-gallery__item:nth-child(5) { grid-area: 7 / 16 / auto / auto; }
.aanbod-gallery--2 .aanbod-gallery__item:nth-child(6) { grid-area: 21 / 18 / auto / auto; }

.aanbod-gallery--3 .aanbod-gallery__item:nth-child(1) { grid-area: 3 / 3 / auto / auto; }
.aanbod-gallery--3 .aanbod-gallery__item:nth-child(2) { grid-area: 10 / 20 / auto / auto; }
.aanbod-gallery--3 .aanbod-gallery__item:nth-child(3) { grid-area: 1 / 16 / auto / auto; }
.aanbod-gallery--3 .aanbod-gallery__item:nth-child(4) { grid-area: 25 / 10 / auto / auto; }
.aanbod-gallery--3 .aanbod-gallery__item:nth-child(5) { grid-area: 4 / 22 / auto / auto; }
.aanbod-gallery--3 .aanbod-gallery__item:nth-child(6) { grid-area: 20 / 18 / auto / auto; }

.aanbod-gallery--4 .aanbod-gallery__item:nth-child(1) { grid-area: 1 / 9 / auto / auto; }
.aanbod-gallery--4 .aanbod-gallery__item:nth-child(2) { grid-area: 17 / 1 / auto / auto; }
.aanbod-gallery--4 .aanbod-gallery__item:nth-child(3) { grid-area: 6 / 21 / auto / auto; }
.aanbod-gallery--4 .aanbod-gallery__item:nth-child(4) { grid-area: 25 / 15 / auto / auto; }
.aanbod-gallery--4 .aanbod-gallery__item:nth-child(5) { grid-area: 23 / 22 / auto / auto; }
.aanbod-gallery--4 .aanbod-gallery__item:nth-child(6) { grid-area: 15 / 19 / auto / auto; }

.aanbod-gallery--5 .aanbod-gallery__item:nth-child(1) { grid-area: 7 / 1 / auto / auto; }
.aanbod-gallery--5 .aanbod-gallery__item:nth-child(2) { grid-area: 1 / 15 / auto / auto; }
.aanbod-gallery--5 .aanbod-gallery__item:nth-child(3) { grid-area: 2 / 13 / auto / auto; }
.aanbod-gallery--5 .aanbod-gallery__item:nth-child(4) { grid-area: 25 / 3 / auto / auto; }
.aanbod-gallery--5 .aanbod-gallery__item:nth-child(5) { grid-area: 18 / 19 / auto / auto; }
.aanbod-gallery--5 .aanbod-gallery__item:nth-child(6) { grid-area: 25 / 21 / auto / auto; }
