.home-slider {
  @include bg-primary;

  height: 100vh;

  &__slide {
    p {
      @include media-breakpoint-up(sm) {
        max-width: 23rem;
      }

      @include media-breakpoint-up(md) {
        margin-top: auto;
      }
    }

    .btn {
      margin-top: 2rem;
      width: max-content;
      text-align: left;
    }

    .wp-block-media-text__content {
      height: 100%;
      display: flex;
      flex-flow: column;
      padding-bottom: 3vh;

      @include media-breakpoint-down(sm) {
        padding-top: 8.5rem !important;
      }

      @include media-breakpoint-up(md) {
        padding-bottom: 20vh;
      }
    }
  }

  &__title {
    font-size: 2.25rem;
    white-space: nowrap;
    z-index: 999;
    transition: transform 750ms;

    @include media-breakpoint-up(md) {
      position: absolute;
      font-size: 3.25rem;
      transform: translate(-10rem, calc(25vh - 100%));
    }

    @include media-breakpoint-up(lg) {
      font-size: 4.77rem;
    }
  }

  .swiper-slide-next {
    .home-slider__title {
      @include media-breakpoint-up(md) {
        transform: translate(calc(-50vw - 35%), calc(25vh - 100%));
      }
    }
  }

  .swiper-slide-prev {
    .home-slider__title {
      @include media-breakpoint-up(md) {
        transform: translate(calc(50vw - 85%), calc(25vh - 100%));
      }
    }
  }

  .swiper-container {
    max-height: 100vh;

    &::before,
    &::after {
      content: "";
      width: 124px;
      width: unquote("min(10vw, 124px)");
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      background-image: linear-gradient(-90deg, rgba(theme-color('primary'), 0) 0%, theme-color('primary') 100%);

      @include media-breakpoint-down(md) {
        width: $grid-gutter-width / 4;
      }
    }

    &::after {
      left: unset;
      right: 0;
      background-image: linear-gradient(90deg, rgba(theme-color('primary'), 0) 0%, theme-color('primary') 100%);
    }
  }

  .btn-arrow {
    z-index: 1001;

    @include media-breakpoint-down(sm) {
      top: 75%;
    }
  }
}
