.icons-text {
  &__item {
    @include make-col-ready();
    @include make-col(12);

    margin-top: 6vh;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(5);

      &:nth-of-type(even) {
        @include make-col-offset(1);
      }
    }

    &__icon {
      height: 91px;
      display: flex;
      margin-bottom: 1rem;

      img {
        margin-top: auto;
      }
    }

    &__title {
      margin-bottom: 2rem;
    }
  }
}
