.interactive-media {
  &__item {
    @include media-breakpoint-between(xs, md) {
      @include make-col-ready();

      display: flex;
      align-items: center;
      margin-top: 2rem;

      &__image {
        max-width: 30%;
        flex: 0 0 30%;
        margin-right: $grid-gutter-width / 4;

        img {
          width: 100%;
          height: auto;
        }
      }

      &:nth-child(odd) {
        .interactive-media__item__content {
          order: 1;
        }

        .interactive-media__item__image {
          order: 12;
          margin-left: $grid-gutter-width / 4;
          margin-right: 0;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      @include make-col-ready(12);
    }

    @include media-breakpoint-down(md) {
      @include make-col-ready(6);
    }
  }

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: repeat(6, 15%);
    gap: 0;
    grid-template-areas:
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."
      ". . . . . .";
    width: 100%;
    height: 80vh;
    padding: $grid-gutter-width / 2;

    &__item {
      position: relative;
      width: 150px;
      height: auto;

      &__content {
        position: absolute;
        display: none;
        width: 40rem;
        background-color: $white;
        padding: $grid-gutter-width / 2;
        z-index: 99;
        box-shadow: 1rem 1rem 0 theme-color('primary');
      }

      figure {
        width: 100%;
        display: inline-block;
        margin: 0;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.85;
          background-color: theme-color('primary');
          transition: opacity 250ms ease-in-out;
          z-index: 55;
        }
      }

      img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 44;
      }

      &:hover {
        .interactive-media__item__content {
          display: block;
        }

        figure::after {
          opacity: 0;
        }
      }
    }

    &__item:nth-child(1) { grid-area: 1 / 1 / auto / auto; }
    &__item:nth-child(2) { grid-area: 3 / 3 / auto / auto; }
    &__item:nth-child(3) { grid-area: 5 / 3 / auto / auto; }
    &__item:nth-child(4) { grid-area: 1 / 5 / auto / auto; }
    &__item:nth-child(5) { grid-area: 2 / 6 / auto / auto; }
    &__item:nth-child(6) { grid-area: 5 / 6 / auto / auto; }
    &__item:nth-child(7) { grid-area: 5 / 1 / auto / auto; }
    &__item:nth-child(8) { grid-area: 3 / 4 / auto / auto; }
    &__item:nth-child(9) { grid-area: 4 / 2 / auto / auto; }
    &__item:nth-child(10) { grid-area: 4 / 4 / auto / auto; }

    &__item:nth-child(4) .interactive-media__item__content,
    &__item:nth-child(5) .interactive-media__item__content,
    &__item:nth-child(6) .interactive-media__item__content {
      right: 0;
    }
  }
}
