@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-200%, 0);
  }
}

.news-headlines {
  @include bg-secondary;

  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding-bottom: 1.2rem;
  }

  &:hover .news-headlines__inner {
    animation-play-state: paused;
  }

  &__title {
    width: 9rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    padding-left: 1.7rem;

    @include media-breakpoint-down(sm) {
      padding-top: 1rem;
    }

    @include media-breakpoint-up(md) {
      background-image: linear-gradient(270deg, rgba(theme-color('secondary'), 0) 0%, theme-color('secondary') 37%);
      align-items: center;
    }

    > h2 {
      font-size: $font-size-small;
    }
  }

  &__inner {
    @include reset-list;

    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    padding-left: 100%;
    animation: marquee 30s linear infinite;

    @include media-breakpoint-down(sm) {
      padding-top: 0.5rem;
    }

    .news-headline,
    li {
      display: inline-block;
    }

    .news-headline {
      @extend h4;

      margin-left: 9rem;
    }
  }
}
