.partners {
  @include reset-list;

  display: flex;
  justify-content: center;
  margin-top: 8vh;
  width: 100%;
  flex-flow: wrap;
  margin-bottom: -1.5rem;

  &__item {
    margin: 1.5rem;

    img {
      width: auto;
      height: 100%;
      max-height: 7.5rem;
      display: block;
      filter: saturate(0);
      transition: filter 250ms ease-in-out;
    }

    a[href^="http"]:hover img {
      filter: saturate(1);
    }
  }
}
