.tab-group {
  margin-top: $spacing;
  margin-bottom: $spacing;
  width: 100%;

  &__nav {
    &__list {
      @include reset-list;

      display: flex;
    }
  }

  &--horizontal {
    .tab-group__nav {
      width: 100%;
      flex: 0 0 100%;

      @include media-breakpoint-up(md) {
        width: 30%;
        flex: 0 0 30%;
      }

      &__list {
        @include media-breakpoint-up(md) {
          flex-flow: column;
        }

        @include media-breakpoint-down(md) {
          -webkit-overflow-scrolling: touch;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;

          &__item-wrapper {
            display: inline-block;
          }
        }

        .menu-item {
          background-color: rgba(theme-color('primary'), 0.1);
          padding: 0.875rem 1.1rem;
          font-size: 1.5rem;
          color: theme-color('primary');
          transition: all 250ms ease-in-out;
          display: block;

          &:hover,
          &.active {
            background-color: theme-color('primary');
            color: $white;
            text-decoration: none;
          }
        }
      }
    }

    .tab-group__content-wrapper {
      width: 100%;
      flex: 0 0 100%;

      @include media-breakpoint-up(md) {
        width: 70%;
        flex: 0 0 70%;
      }

      @include media-breakpoint-up(xl) {
        width: calc(41% + #{$grid-gutter-width} / 2);
        flex: 0 0 calc(41% + #{$grid-gutter-width} / 2);
      }
    }

    .tab-group__container {
      display: flex;

      @include media-breakpoint-down(md) {
        flex-flow: column;
      }
    }
  }

  &--vertical {
    .tab-group__nav,
    .tab-group__content-wrapper {
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: 83%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .tab-group__nav {
      margin-bottom: 5rem;
      position: relative;

      @include media-breakpoint-down(md) {
        &::after {
          content: "";
          width: 4rem;
          height: 100%;
          position: absolute;
          right: - $grid-gutter-width / 4;
          top: 0;
          z-index: 1000;
          background-image: linear-gradient(90deg, rgba($white, 0) 0%, $white 100%);
          pointer-events: none;
        }
      }

      &__list {
        @include reset-list;

        margin-left: -2rem;
        margin-right: -2rem;

        @include media-breakpoint-down(md) {
          -webkit-overflow-scrolling: touch;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;
        }

        @include media-breakpoint-up(md) {
          display: flex;
          flex-flow: row;
          justify-content: center;
        }

        &__item-wrapper {
          padding-left: 2rem;
          padding-right: 2rem;

          @include media-breakpoint-down(md) {
            display: inline-block;
          }
        }

        .menu-item {
          font-size: 1.5rem;
          position: relative;
          padding-bottom: 10px;
          transition: opacity 250ms ease-in-out;
          display: block;

          &:not(.active) {
            opacity: 0.5;
          }

          &::before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: currentColor !important;
            transition: width 500ms cubic-bezier(0.76, 0, 0.24, 1);
          }

          &.active,
          &:hover {
            text-decoration: none;
            opacity: 1;

            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
