.tab-content {
  display: none;

  &.active {
    display: block;
  }

  &::before {
    content: " ";
    display: block;
    margin-top: -12rem;
    height: 12rem;
    visibility: hidden;
    pointer-events: none;
  }
}

.tab-group--horizontal .tab-content {
  background-color: theme-color('primary');
  color: $white;
  padding: $grid-gutter-width / 2;

  a {
    color: currentColor;
  }
}
