.traject {
  &__inner {
    max-width: 700px;
    margin: 6vh auto;
    position: relative;

    &__details {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
      border-top: 1px solid $dash-color;
      display: flex;
      justify-content: space-between;

      &__right a {
        text-decoration: underline;
        font-weight: bold;
      }
    }

    .post__inner__title {
      padding-right: 4rem;
    }
  }

  &__timing {
    background-color: theme-color('secondary');
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    line-height: 2;
    font-size: 0.75rem;
    color: $white;
    text-transform: uppercase;
    position: absolute;
    top: 0.8rem;
    right: 0;
  }
}
