.contact {
  &__form,
  &__opening-hours {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-down(md) {
      padding-right: $grid-gutter-width / 4;
      padding-left: $grid-gutter-width / 4;
      margin-bottom: 2rem;
    }

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(5);
      @include make-col-offset(1);
    }

    position: relative;
    z-index: 1;
  }

  &__form {
    &__inner {
      @include media-breakpoint-up(md) {
        background-color: $white;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1.5rem;
        margin-left: -3rem;
        margin-right: -3rem;
        margin-bottom: -2.5rem;
      }
    }
  }

  &__opening-hours {
    .btn {
      margin-top: 1.5rem;
    }

    img {
      margin-top: 1.5rem;
    }
  }

  .map {
    z-index: 0;

    @include media-breakpoint-up(md) {
      margin-top: -5rem;
    }
  }
}
