.grid-container {
  @include make-container();

  width: calc(100% - #{$grid-gutter-width / 2});
  max-width: 1440px;
  box-sizing: content-box;

  @include media-breakpoint-down(md) {
    padding-right: $grid-gutter-width / 4;
    padding-left: $grid-gutter-width / 4;
  }

  @include media-breakpoint-up(lg) {
    width: calc(100% - #{$grid-gutter-width});
  }

  @include media-breakpoint-up(xl) {
    width: calc(100% - #{$grid-gutter-width * 2});
  }

  > .wp-block-media-text,
  > .wp-block-gallery,
  > .wp-block-cover {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.grid-row {
  @include make-row();

  @include media-breakpoint-down(md) {
    margin-right: -$grid-gutter-width / 4;
    margin-left: -$grid-gutter-width / 4;
  }
}
