.event-categories {
  padding-top: 2rem;
  margin-bottom: 2rem;
  position: relative;

  @include media-breakpoint-down(md) {
    &::after {
      content: "";
      width: 4rem;
      height: 100%;
      position: absolute;
      right: - $grid-gutter-width / 4;
      top: 0;
      z-index: 1000;
      background-image: linear-gradient(90deg, rgba($white, 0) 0%, $white 100%);
      pointer-events: none;
    }
  }

  &__list {
    @include reset-list;

    margin-left: -2rem;
    margin-right: -2rem;

    @include media-breakpoint-down(md) {
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      flex-flow: row;
      justify-content: center;
    }

    > li {
      padding-left: 2rem;
      padding-right: 2rem;

      @include media-breakpoint-down(md) {
        display: inline-block;
      }
    }

    .label {
      font-size: 1.5rem;
      position: relative;
      padding-bottom: 10px;
      transition: opacity 250ms ease-in-out;

      &:not(.active) {
        opacity: 0.5;
      }

      &::before {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: currentColor !important;
        transition: width 500ms cubic-bezier(0.76, 0, 0.24, 1);
      }

      &.active,
      &:hover {
        text-decoration: none;
        opacity: 1;

        &::before {
          width: 100%;
        }
      }
    }
  }
}
