.footer {
  @include bg-primary;

  padding-top: 8vh;
  padding-bottom: 4vh;
  margin-top: 14vh;

  &__top {
    .simple-social-icons ul li {
      background-color: theme-color('secondary') !important;
      width: 44px;
      height: 44px;
      border-radius: 22px;
      text-align: center;
      line-height: 40px;
      margin: 0 !important;
      transition: background-color 250ms ease-in-out;

      a {
        width: 100% !important;
        height: 100% !important;
        text-align: center !important;
        line-height: 40px !important;
        display: block !important;
      }

      &:hover {
        background-color: darken(theme-color('secondary'), 10%) !important;
      }

      &:not(:first-child) {
        margin-left: 1.875rem !important;
      }
    }
  }

  &__menus {
    margin-top: 7vh;
    display: flex;
    flex-flow: column;

    .footer-el {
      margin-bottom: 7vh;
    }

    @include media-breakpoint-up(sm) {
      flex-flow: row;
      flex-wrap: wrap;

      .footer-el {
        width: 50%;
        flex: 0 0 50%;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-left: -10vw;

      .footer-el {
        width: auto;
        flex: unset;
        margin-left: 10vw;
      }
    }

    @include media-breakpoint-up(xl) {
      margin-left: -12vw;

      .footer-el {
        margin-left: 12vw;
      }
    }

    h4 {
      text-decoration: underline;
      margin-bottom: 1.5rem;
    }

    ul {
      @include reset-list;

      li {
        margin-top: 0.8rem;
        font-size: $font-size-small;
      }
    }
  }

  &__bottom {
    p {
      margin-bottom: 0.25rem;
    }

    .footer-el {
      &:not(:first-child) {
        margin-top: 1.75rem;
      }
    }

    ul.inline {
      @include reset-list;

      display: flex;
      margin-left: -1.125rem;

      li {
        font-size: $font-size-small;
        margin-left: 1.125rem;

        a {
          text-decoration: underline;
        }
      }
    }

    &__closer {
      opacity: 0.45;
      font-size: $font-size-small;
      margin-top: 1.75rem;
      pointer-events: none;

      @include media-breakpoint-up(sm) {
        text-align: right;
        transform: translateY(-100%);
        margin-top: 0;
      }

      a {
        text-decoration: underline;
        pointer-events: all;
      }
    }
  }
}

.has-map .footer {
  margin-top: 0;
}
