.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: transform 350ms ease-in-out;

  &.hide {
    transform: translateY(-150%);
    pointer-events: none;
  }

  @include media-breakpoint-up(lg) {
    @include bg-primary;
  }

  .logo-wrapper {
    position: relative;
    display: block;
    z-index: 999;

    .logo {
      z-index: 2;
      position: relative;
    }

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='650' height='137' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M335.67 137C451.65 137 556.427 91.333 650 0H0c13.976 16.183 93 121 199 126.37 52.39 1.956 87.764 10.63 136.67 10.63z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
      width: 650px;
      height: 137px;
      display: block;
      position: absolute;
      z-index: 1;
      top: -1.25rem;
      left: - $grid-gutter-width - 200px;
      pointer-events: none;

      @include media-breakpoint-down(xs) {
        left: - $grid-gutter-width - 250px;
      }
    }
  }

  .nav-wrapper {
    display: flex;
    padding-top: 1.25rem;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      > nav {
        background-color: theme-color('primary');
        width: 100vw;
        height: 100vh;
        transform: translateX(100%);
        pointer-events: none;
        z-index: 998;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

        a {
          color: $white;
        }

        .sub-menu {
          @include reset-list;
        }

        &.active {
          transform: translateX(0);
          pointer-events: all;
        }

        > div {
          height: 100%;
        }
      }

      .nav {
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        li {
          margin: 1rem 0;

          > a {
            padding: 0.5rem;
          }
        }

        .sub-menu {
          display: none;
        }

        /* .menu-item-has-children > a {
          pointer-events: none;
          opacity: 0.5;
        } */
      }
    }

    @include media-breakpoint-up(lg) {
      > nav {
        width: calc(100% - 320px);
      }

      .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        li {
          font-size: $font-size-small;
          position: relative;
        }

        .menu-item-has-children {
          padding-right: 1rem;
          background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-587-60H853V77H-587z'/%3E%3Cpath d='M.098.72l3.374 6.02h1.456L8.302.72H6.804L4.256 5.354h-.112L1.582.72z' fill='%23fff' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center right;

          &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-602-60H838V77H-602z'/%3E%3Cpath d='M8.302 6.74L4.928.72H3.472L.098 6.74h1.498l2.548-4.634h.112L6.818 6.74z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");

            > .sub-menu {
              display: block;
            }
          }
        }

        .sub-menu {
          display: none;
          position: absolute;
          padding-left: 2rem;
          background-color: theme-color('primary');
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          padding-right: 1.2rem;

          li {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.toggle-menu {
  width: 2.75rem;
  height: 2.75rem;
  background: transparent;
  background-color: theme-color('primary');
  appearance: none;
  cursor: pointer;
  border: 0;
  padding: 0 0.7rem;
  z-index: 9999;
  position: fixed;
  top: $grid-gutter-width / 6;
  right: $grid-gutter-width / 6;

  @include media-breakpoint-up(sm) {
    top: $grid-gutter-width / 4;
    right: $grid-gutter-width / 4;
  }

  @include media-breakpoint-up(md) {
    top: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &:focus {
    outline: none !important;
  }

  span {
    width: 100%;
    background-color: $white;
    height: 1px;
    display: block;
    transition: all 250ms ease-in-out;
  }

  &__first-dash {
    transform: translateY(-8px);
  }

  &__third-dash {
    transform: translateY(8px);
  }

  &.active {
    .toggle-menu__first-dash {
      transform: translateY(50%) rotate(45deg);
    }

    .toggle-menu__second-dash {
      transform: translateY(-50%) rotate(-45deg);
    }

    .toggle-menu__third-dash {
      opacity: 0;
    }
  }
}
