.page-header {
  @include bg-primary;

  text-align: center;
  padding-top: 26vh;
  padding-bottom: 17vh;
  margin-bottom: 10vh;

  @include media-breakpoint-down(sm) {
    padding-bottom: 2rem !important;
    padding-top: 10rem;
  }

  &__location {
    display: flex;
    align-items: center;
    justify-content: center;

    .marker {
      margin-right: 12px;
    }
  }

  &__short-description {
    max-width: 30rem;
    text-align: center;
    margin: 10.5vh auto 0;
  }
}

.single-aanbod .page-header {
  padding-bottom: 12.5vh;
}

.single-ruimte .page-header {
  padding-bottom: 2rem;
}

p > a:not(.btn) {
  text-decoration: underline;
}

.main {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  > .wp-block-buttons {
    @include media-breakpoint-down(xs) {
      padding-left: $grid-gutter-width / 4;
      padding-right: $grid-gutter-width / 4;
    }

    @include media-breakpoint-up(sm) {
      text-align: center;
    }
  }

  > .wp-block-buttons .wp-block-button {
    transform: translateX(1.25rem);
  }

  > h2 {
    margin-top: $spacing;
  }

  h2 + .btn,
  h2 + .wp-block-buttons {
    margin-top: 2.56rem;
  }

  h3 {
    margin-bottom: 1.375rem;
  }

  > p,
  > ul {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(sm) {
      max-width: 26rem;
      margin: 0 auto 1.5rem;
    }

    @include media-breakpoint-down(sm) {
      padding-left: $grid-gutter-width / 4;
      padding-right: $grid-gutter-width / 4;
    }

    + .btn {
      margin-top: 0.3rem;
    }
  }

  .wp-block-table {
    max-width: 64rem;

    @include media-breakpoint-down(sm) {
      padding-left: $grid-gutter-width / 4;
      padding-right: $grid-gutter-width / 4;
    }

    td,
    th {
      padding: 6px;
    }

    tbody {
      border-right: 2px solid $border-color;
    }

    td {
      border: 1px solid $border-color;
    }
  }

  > ul,
  .single-ruimte__content > ul {
    list-style: none;

    li::before {
      content: "\2022";
      color: theme-color('secondary');
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
    }
  }
}

.notice {
  background-color: theme-color('secondary');
  color: $white;
  padding: 1.35rem 1.75rem;
  margin: 0.5rem 0 1rem;

  a {
    color: currentColor;
  }
}
