.single-event {
  &__content {
    &__inner {
      max-width: 37rem;
      margin: 0 auto;
    }

    .event__inner__details {
      margin-top: 7vh;
      border-top: 1px solid $dash-color;
      display: flex;

      .event__price {
        position: static;
        transform: unset;
        align-self: flex-start;
        margin-left: auto;
      }
    }
  }
}
