.single-ruimte {
  &__content {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-down(md) {
      padding-right: $grid-gutter-width / 4;
      padding-left: $grid-gutter-width / 4;
    }

    @include media-breakpoint-up(md) {
      @include make-col(7);

      order: 1;
    }

    > h2 {
      margin-top: 8vh;
    }

    > p,
    > h2 {
      max-width: 27rem;
    }

    p > a {
      text-decoration: underline;
    }
  }

  &__gallery {
    @include make-col-ready();
    @include make-col(12);

    position: relative;
    z-index: 55;

    @include media-breakpoint-up(md) {
      @include make-col(5);

      order: 12;
    }

    &__inner {
      position: sticky;
      top: 7.5rem;
    }

    &__navigation {
      display: flex;
      justify-content: flex-end;

      .btn-arrow {
        position: relative;
        left: unset;
        right: unset;

        &--right {
          margin-left: 1rem;
        }
      }
    }

    .blob-bg-wrapper {
      top: 0 !important;
      left: 0 !important;
    }
  }
}

.form-tabs {
  display: flex;
  margin-top: 3rem;

  @include media-breakpoint-down(md) {
    flex-flow: column;
  }

  &__nav {
    @include media-breakpoint-up(lg) {
      width: 3.75rem;
      flex: 0 0 3.75rem;
    }

    &__list {
      @include reset-list;

      display: flex;

      @include media-breakpoint-up(lg) {
        flex-flow: column;
      }

      .menu-item {
        background-color: rgba(theme-color('primary'), 0.1);
        padding: 0.875rem 1.1rem;
        font-size: 1.5rem;
        color: theme-color('primary');
        transition: all 250ms ease-in-out;
        display: block;
        text-align: center;
        width: 3.75rem;

        &:hover,
        &.active {
          background-color: theme-color('primary');
          color: $white;
          text-decoration: none;
        }
      }
    }
  }

  &__content {
    background-color: theme-color('primary');
    color: $white;
    padding: $grid-gutter-width / 2;
    display: none;

    a {
      color: currentColor;
    }

    input {
      background-color: theme-color('primary');
    }

    .form-control {
      color: $white;

      &::placeholder {
        color: rgba($white, 0.5);
      }
    }

    .wpcf7-select,
    .form-control:focus {
      background-color: rgba($white, 0.1);
    }

    &.active {
      display: block;
    }
  }

  .btn-form-next {
    float: right;
    margin-right: 1.5rem;
  }

  .btn {
    color: $white;
  }

  .grid-row .form-group {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }

    @include media-breakpoint-down(md) {
      padding-right: $grid-gutter-width / 4;
      padding-left: $grid-gutter-width / 4;
    }
  }

  .grid-row .form-group.fld-postalcode {
    @include make-col(4);
  }

  .grid-row .form-group.fld-place {
    @include make-col(8);
  }
}

.huren .single-ruimte {
  &__content {
    margin-left: auto;
    margin-right: auto;

    > p,
    > h2 {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
}
