.single-aanbod {
  &__logo {
    pointer-events: none;
    z-index: 0;

    @include media-breakpoint-down(xs) {
      text-align: center;
      margin-bottom: 2rem;
    }

    img {
      width: auto;
      max-height: 100px;
    }

    @include media-breakpoint-up(sm) {
      position: absolute;
      right: $grid-gutter-width / 4;
    }

    @include media-breakpoint-up(md) {
      right: $grid-gutter-width;

      img {
        width: auto;
        max-height: 180px;
      }
    }
  }
}
