@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
  font-size: 16px;
  color: theme-color('primary');
  line-height: 1.6;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.label,
.menu-item,
.news-headline,
.btn,
.post__date,
.event__price,
.btn-pagination,
.btn-arrow::after {
  font-family: 'IBM Plex Mono', Courier, monospace;
  font-weight: 500;
  letter-spacing: 0.112em;
  // margin-right: -0.112em;
}

h1 {
  font-size: 2.25rem;

  @include media-breakpoint-up(md) {
    font-size: 3.25rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: 2.25rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.25rem;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.375rem;
  }
}

h4 {
  font-size: 1.1rem;

  @include media-breakpoint-up(md) {
    font-size: 1.3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.6875rem;
  }
}

img.logo {
  width: 101px;
  height: auto;
  display: block;
}

.alert:empty {
  display: none;
}
