/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #202cc1,
  secondary: #fe4a49
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$enable-grid-classes: false !default;
$grid-gutter-width: 108px !default;
$spacing: 12vh;

$enable-rounded: false;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  g: 1500px,
  xg: 1700px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
  g: 1440px,
  xg: 1600px
) !default;

$font-size-small: 0.875rem;
$font-size-bigger: 1.125rem;

$dash-color: rgba(theme-color('primary'), 0.1);

@function get-breakpoint-width($key: "md") {
  @return map-get($container-max-widths, $key);
}

@mixin bg-primary {
  background-color: theme-color('primary');
  color: $white;

  a {
    color: $white;
  }
}

@mixin bg-secondary {
  background-color: theme-color('secondary');
  color: $white;

  a {
    color: $white;
  }
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
